# Problem

Using `problem22.txt`, a 46K text file containing over five-thousand first names, begin by sorting it into alphabetical order. Then working out the alphabetical value for each name, multiply this value by its alphabetical position in the list to obtain a name score.

For example, when the list is sorted into alphabetical order, COLIN, which is worth 3 + 15 + 12 + 9 + 14 = 53, is the 938th name in the list. So, COLIN would obtain a score of 938 Ã— 53 = 49714.

What is the total of all the name scores in the file?

# Data

First we read, prune, and sort the data:

In [90]:
raw = scan("problem22.txt", what="", sep="\n")
raw_no_quotes = gsub("\"", "", raw)
splitted = strsplit(raw_no_quotes, ',')[[1]]
names = sort(splitted)

In [91]:
names[1:10]

 [1] "AARON"   "ABBEY"   "ABBIE"   "ABBY"    "ABDUL"   "ABE"     "ABEL"
 [8] "ABIGAIL" "ABRAHAM" "ABRAM"

In [92]:
length(names)

[1] 5163

# Alphabetic name value

We want to split a name into characters.

In [118]:
cname = strsplit(names[1], "")[[1]]

In [109]:
cname

[1] "A" "A" "R" "O" "N"

R knows all the letters.

In [110]:
LETTERS

 [1] "A" "B" "C" "D" "E" "F" "G" "H" "I" "J" "K" "L" "M" "N" "O" "P" "Q" "R" "S"
[20] "T" "U" "V" "W" "X" "Y" "Z"

We match the characters with the letters to get a vector with the character number, for each character.

In [113]:
letter_values = match(cname, LETTERS)

In [114]:
letter_values

[1]  1  1 18 15 14

Finally we sum those values to get the name score.

In [115]:
sum(letter_values)

[1] 49

For ease of use we want to create a function `name.to.score(string)` that returns the score of the name.

In [116]:
name.to.score <- function(name) sum(match(strsplit(name, "")[[1]], LETTERS))

Now we can check the example that is given in the problem. It says that `COLIN` should be $53$.

In [117]:
name.to.score("COLIN")

[1] 53

# Total score

We can easily do this with a `for` loop.

In [119]:
score = 0
for (i in 1:length(names)) {
    score = score + name.to.score(names[i]) * i
}
score

[1] 871198282

Or a more R'ish way would be to use `lapply` and `Reduce`.

In [122]:
Reduce('+', lapply(1:length(names), function(x) x * name.to.score(names[x])))

[1] 871198282

# Code

The final implementation that gives the answer.

In [124]:
names = sort(strsplit(gsub("\"", "", scan("problem22.txt", what="", sep="\n")), ',')[[1]])
name.to.score <- function(name) sum(match(strsplit(name, "")[[1]], LETTERS))
Reduce('+', lapply(1:length(names), function(x) x * name.to.score(names[x])))

[1] 871198282